@charset "UTF-8";
/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/
/*All the main color declarations*/
nav,
.header {
  background-color: white;
  color: #5b5a5a; }

a:hover,
.card-head:hover {
  color: purple; }


a {
  color: black; }

.header {
  background-color: transparent; }

.topicsCard > a,
.copyright,
.btn,
.features,
.text-white {
  color: white; }

.backPurple,
.footer-card,
.btn-primary {
  background-color: purple;
  border: 0px solid transparent; }


body {
  background-color: white; }

.backPurple,
.backBlue,
h5 > button.btn:hover,
.btn-link,
.features,
.title {
  color: white; }

a.white:hover {
  color: white; }

.postOverlay,
.title,
.post-date,
.subtitle {
  color: white; }

.backBlue {
  background-color: #0090ff; }

.postOverlay {
  background-color: rgba(0, 0, 0, 0.8); }

/****High-level declarations****/
img {
  max-width: 100%;
  padding: 1%; }

a:hover {
  text-decoration: none; }

h3 {
  font-size: 1.2rem;
  opacity: .8; }

p {
  font-size: 1.3rem; }

.card {
  border-color: transparent; }

/*--Color declarations--*/
/*****Low level declarations*****/
/*------navigation-------*/
/*basic nav*/
.basic-header {
  font-size: 1.4rem; }

.basic-header:hover {
  background-color: #0090ff;
  /*{% if site.hamburger-nav %}*/
  border-radius: 0%;
  /*{% else %}*/
  border-radius: 10%;
  /*{% endif %}*/
  transition-duration: 0.3s; }

li.basic-header > a.nav-link:hover {
  color: white !important; }

.contact-info {
  font-size: 0.9rem;
  line-height: 40%; }

/*Hamburger-nav*/
/*{% if site.hamburger-nav %}*/

.navbar-toggler {
  z-index: 5;
  position: absolute;
  top: 4px; }

a.borderL {
  border-right: 2px solid black; }

a.card-head:hover {
  color: purple; }

.card-nav {
  position: relative;
  top: -20px; }

/*{% endif %}*/
/*card nav*/
nav {
  /*{% if site.card-nav %}*/
  /* else */
  /* {% endif %} */ }
  nav .card-head {
    border: 2px solid black;
    opacity: .5;
    border-top: transparent;
    padding-top: 2%; }
  nav .card-head {
    /*{% if site.hamburger-nav %}*/
    border: 2px solid, transparent;
    border-radius: 0% !important;
    /* {% else %} */
    border: 2px solid, #525252;
    /*{% endif %}*/
    opacity: .5;
    border-top: transparent;
    padding-top: 2%;
    z-index: 3; }
  nav .header {
    font-size: 2rem; }
  nav .Icon {
    width: 40px;
    height: 40px; }
@keyframes linkhover {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@media only screen and (max-width: 899px) {
  /* {% if site.hamburger-nav %}*/
  .navPC {
    display: visible; }

  /* {% else %}*/
  .navPC {
    display: none; }

  /*{% endif %}*/ }
@media only screen and (min-width: 900px) {
  .navResponsive {
    display: none; } }
/**Home Page**/
/*Main title*/

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0%; }


.subtitle {
  font-weight: bolder;
  font-size: 32px;
  word-spacing: 5px;
  padding: 2%; }

@media only screen and (max-width: 720px) {
  .title {
    font-size: 3rem; }

  .subtitle {
    font-size: 1.5rem;
    padding: 3%; }

  .description {
    display: none; } }
@media only screen and (max-width: 496px) {
  .title {
    font-size: 2rem;
    padding: 1%; }

  .subtitle {
    font-size: 1.3rem; } }
/*Features*/
/*About*/

/*Portfolio*/

/*Portfolio*/

/*Blog*/
.catBack {
  background-image: url(/images/oil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.homePost {
  overflow: hidden; }

.bFloat {
  position: relative;
  top: 83%;
  overflow: hidden;
  transition: .5s; }

.bFloat:hover {
  top: 55%;
  transition: .5s; }

.mainFloat {
  position: relative;
  top: 90%;
  overflow: hidden;
  transition: .5s; }

.mainFloat:hover {
  top: 75%;
  transition: .5s; }

.postOverlay {
  padding: 2%; }

.btn:hover {
  text-decoration: none;
  color: white; }

.topicsCard {
  padding: 1%; }

/* --post-- */

/* --sidebar-- */

/*Contact Form*/
.contact {
  border: 3px solid #0090ff;
  padding: 6%; }

/* share widget */

/*# sourceMappingURL=Jstyle.css.map */
