/*All the main color declarations*/

/*
Primary color: white
secondary color: purple
accent color: blue
*/


nav,
.header,
.solutions-card,
.backWhite,
.problem-card {
  background-color: $primary-color;
  color:#5b5a5a;
}


.btn,
a:hover,
.purple,
.card-head:hover {
    color: purple !important;
}

.posTitle,
a {
 color: black; 
}

.header {
  background-color: transparent;
}

.topicsCard > a,
.feature-background,
.copyright,
.btn,
.features,
.feature-card,
.text-white {
    color:$primary-color;
  }

 
  .backPurple,
  .footer-card,
  .solutions-and-problems,
  .feature-card,
  .btn-primary {
    background-color: $secondary-color;
    border: 0px solid transparent
}

.feature-background,
body {
    background-color: $primary-color;
}

.backPurple,
.backBlue,
h5 > button.btn:hover,
.btn-link,
.solutions-and-problems,
.features,
.title {
  color: $primary-color;
}

a.white:hover {
  color: $primary-color;
}

.postOverlay,
.title ,
.post-date,
.subtitle {
  color: $primary-color;
}

.backBlue,
.SEO {
    background-color: $accent-color;
  }

.blue {
  color: $accent-color;
}

.postOverlay {
  background-color: rgba(black, 0.8);
}
