<!--The about section of the homepage -->


<!--Google analytics screenshot-->


 <!--Comments-->

 <!--The following section fades in from the right-->
 <div class="aboutPic">
    <div class="d-flex p-4 bg-transparent"></div>
    <div class="d-flex p-4 bg-transparent"></div>

<div class="col-md-4 offset-md-1" id="2" data-aos="fade-right">

  <div class="card col-md-12 bg-transparent">

    <h1>Features</h1>
    <ul class="features-list">
      <li>Modular</li>
      <li>Easy to tweak and change</li>
      <li>Mobile friendly</li>
      <li>Accessible friendly</li>
      <li>Free hosting</li>
      <li>Plenty of extra modules</li>
      <li>Well Documented code</li>
      <li>Runs on Jekyll</li>
      <li>Easily add Analytics</li>

    </ul>
    <div class="d-flex p-4 bg-transparent description"></div>
    <div class="d-flex p-4 bg-transparent description"></div>

  </div>
  </div>
  </div>