<!--Problems and Solutions-->


<div class="solutions-and-problems col-md-12">

 <div class="d-flex p-4 bg-transparent"></div>
 <div class="d-flex p-4 bg-transparent"></div>

 
 <div class="card-deck col-md-12 solutions-and-problems">
  <div class="d-flex p-4 bg-transparent"></div>
  <div class="d-flex p-4 bg-transparent"></div>

  <!--Problems Card-->
  <div class="card problem-card col-md-5" data-aos="fade-right">
    <div class="d-flex p-4 bg-transparent"></div>

    <h1 class="problem-title">Other Themes</h1>
    <ul class="col-md-12">
      <li>Takes a long time to load</li>
      <li>Not accessible friendly</li>
      <li>Built for non-developers</li>
      <li>Lots of choices</li>
      <li>Created for one use</li>
    </ul>
    <div class="d-flex p-4 bg-transparent"></div>

  </div>

  <!--Solutions card-->
  <div class="card solutions-card col-md-5" data-aos="fade-left">
   <div class="d-flex p-4 bg-transparent"></div>

   <h1 class="solutions-title">Jtheme</h1>
   <ul class="col-md-11">
     <li>Scores over 90 on PageSpeed insights</li>
     <li>Built for accessibility</li>
     <li>Easy to customize and setup</li>
     <li>One easy to adapt theme.</li>
     <li>Made for multiple configurations</li>
   </ul>
  </div>

 </div>

 <div class="d-flex p-4 bg-transparent"></div>

</div>