
<!--List based horizontal navigation bar-->

<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="/">Home</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#about">About</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#features">Features</a>
            </li>
            
            <li class="nav-item basic-header">
                <a class="nav-link text-center white" href="#portfolio">Portfolio</a>
            </li>
            
            <li class="nav-item basic-header">
              <a class="nav-link text-center white" href="#contact">Contact</a>
            </li>
        </ul>
        </div>

        <span class="navbar-text">
        <p class="contact-info">Phone: XXX-XXX-XXXX</p>
        <p class="contact-info">Email: example@gmail.com</p>
    </span>
      </nav>