
<!--List based horizontal navigation bar-->

<!--Dropdown menu for small screens-->
<div class="navPC">

{% include navbars/blog-nav-content.html%}
</div>
<!--Dropdown menu for small screens-->


<div class="navResponsive">

 <div class="pos-f-t fixed-top">


  <div class="collapse navy" id="navbarToggleExternalContent">

    {% include navbars/blog-nav-content.html%}

</div>


<nav class="navbar-light nav bg-light col-md-12">
    <div class="d-flex p-4 bg-transparent"></div>

    <button class="navbar-toggler" type="button" 
  data-toggle="collapse" 
  data-target="#navbarToggleExternalContent" 
  aria-controls="navbarToggleExternalContent" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

</div>
</div>