
<!--This file contains the navigation elements-->

<!--Only allows fade in animation on the homepage-->

    {% if site.card-nav and page.title == "Home" %}
        <nav class="card-group navbar-expand-md col-md-12 animated heading">

    {% else %}
    <nav class="card-group navbar-expand-md col-md-12">
    
    {% endif %}
 


      <!--Home-->
        <a href="/index.html" class="card borderL col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">
         JStack Studios
         <img alt="features spedometer" class="Icon" src="/images/icons/speed.png">
       </h2>
         <p class="card-body description">
           About | Boost Leads | Increase Awareness
         </p>
       </a>

      <!--Blog-->
         <a href="/blog.html#disqus_thread" class="borderL card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">Blog
         <img class="Icon" alt="about running man" src="/images/icons/exercise.png">
       </h2>
       <p class="card-body description">Use Case | Updates | Information</p>
       </a>
       
       <!--FAQ-->
         <a href="/FAQ.html" class="card borderL col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">FAQ
         <img class="Icon" alt="solutions upward graph" src="/images/icons/increase.png">
         </h2>
       <p class="card-body description">Frequently Asked Questions</p>
       </a>
       
       <!--Contact-->
       <a href="/contact.html" class="card col-md-3 card-head" style="border-radius:5px;">
       <h2 class="header d-flex justify-content-center">Contact
       <img class="Icon" alt="contact envelope" src="/images/icons/mail.png">
       </h2>
      <p class="card-body description">Get an Estimate | jaynkystudio@gmx.com</p>
       </a>
       
</nav>


