<!--
    Navbar for categories in blog
    css is in _blog.scss
-->


        <div class="d-flex p-4 bg-transparent"></div>
    
 <div class="navbar navbar-expand-sm catBack col-md-12">

            <ul class="navbar-nav col-md-12 flexCon">
    <li class="backBlue topicsCard">
    <a href="/cat1"><h2 class="text-center catText">Documentation</h2></a>
    </li>
    
    <li class="backPurple topicsCard">
    <a href="/cat2"><h2 class="text-center">Libraries</h2></a>
    </li>
    
    <li class="backBlue topicsCard">
    <a href="/cat3" class="nav-item"><h2 class="text-center">Introduction</h2></a>
    </li>
</ul>
    </div>
    </div>
    <div class="d-flex p-4 bg-transparent"></div>
</div>
</div>