
<div id="top" class="navPC">
        {% if site.hamburger-nav %}
           {% include navbars/hamburger-nav.html %}
        
        {% elsif site.card-nav %}
            {% include navbars/card-nav.html%}
        
        {% else %}
            {% include navbars/basic-nav.html %}
        
        {% endif %}
        
        </div>
        
        
        <div class="navResponsive">
                {% include navbars/hamburger-nav.html %}
        </div>
