<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->

{% include head.html %}




{% if site.blog %}
  {% include navbars/blog-nav.html %}




 {% include navbars/cat-nav.html %}

 {% include blog.html %}
 <div id="contact">
  {% include contact-form.html %}
 </div>


{% else %}

 {% include navbars/main-nav.html %}


<div class="backpic">

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>


<!--Main Title-->

<div class="d-flex justify-content-center col-md-12">
<div class="card col-md-6 mainTitle">
    <h1 class="display-3 title text-center">
     MSS Arizona</h1>
    <h2 class="text-center subtitle">
     A modular static site template
    </h2>

</div>
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

</div>

<div id="about" class="about-pc">
 {% include /modules/about-flip-cards.html %}
</div>

<div id="about" class="about-responsive">
 {% include /modules/about-basic.html %}
</div>

<div id="features">
 {% include features.html %}
</div>

<div id="portfolio">
 {% include portfolio.html %}
</div>

{% if site.card-nav %}


{% else %}
<div id="contact">
 {% include contact-form.html %}
</div>
{% endif %}

{% endif %}
{% include footer.html %}
