
<!--Post template-->


{% include head.html %}

{% include navbars/main-nav.html %}

        {% include navbars/cat-nav.html %}


<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>




<!--Border around post-->
<div class="d-flex justify-content-center">
<div class="card col-md-6">

<!--Title-->
<h1 class="text-center postTitle"> {{page.title}} </h1>

<!--Date and author-->
<p class="text-center"><span class="post-date">{{ page.date | date_to_string }} by {{ page.author }}</span></p>

    {{content}}
    
</div>
</div>
    

{% include share-bar.html %}
</div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<h1 class="text-center">Posts you might like</h1>

</div>
<div class="d-flex p-4 bg-transparent"></div>
<div class="col-md-12 d-flex justify-content-center">

<div class="card-deck col-md-10">
    {% for post in site.posts %}
    <!--Post-->
    <div class="post card col-md-4">
      <h2 class="post-title text-center">
     
            <a href=" {{ post.url }}">{{ post.title }}
      </h2>
      <!--Date and author-->
        <p class="small post-date text-center">{{ post.date | date_to_string }}</p>
        <div class="card-group">
            <div class="d-flex justify-content-center">
        <img src="{{post.image}}" class="card col-md-10">
        </div>
        </div>
      </a>
        <div class="d-flex p-4 bg-transparent"></div>

       </div>
    {% endfor %}
</div>
</div>

{% include footer.html %}